
.panel {
  margin: 0px;
  border: 0px;
  width: 400px;
}

.panel-heading {
  font-size: 1.5em;
}

.panel input,
.panel .action {
  color: #303030;
  transition: color 0.5s ease;
}

.panel input:focus,
.panel input:hover,
.panel .action:focus,
.panel .action:hover {
  color: #6B8FB2;
}

.panel .action.add:hover {
  color: #33CC33;
}

.panel .action.remove:hover {
  color: #E62E00;
}

.panel .site-list input,
.panel .site-list .input-group-addon {
  border: 0px solid #fff;
  box-shadow: 0px 0px #fff;
  background: #fff;
  
  font-size: 1.25em;
  font-weight: bold;
  
}

.panel .settings {
  border: 1px solid #ddd;
  border-radius: 4px;
  
  padding: 10px 25px;
}

.panel .btn {
  background-color: transparent;
}