<!doctype html>
<html>
  <head>
    <title>ProductionSafe Plugin</title>

    <link rel="stylesheet" type="text/css" href="../css/popup.css" />

    <script type="text/javascript" src="../js/popup-controller.js"></script>
  </head>
  <body>
    <div class="popup-wrap">
      <h4 class="title">Production Sites</h4>

      <ul class="site-list"></ul>

      <div class="settings">
        <input type="checkbox" class="enabled" /> Enable ProductionSafe banners?
      </div>

      <div class="btn-group">
        <button type="button" class="btn add">Add</button>
        <button type="button" class="btn save">Save</button>
      </div>
    </div>
  </body>
</html>
